/* Nav and body and universal */

body {
  background-color: #3C474B;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: .6px;
  margin: 0 auto;
  padding: 0;

  position: relative;
}

p {
  font-size: 20px;
  font-weight: 300;
}

.routesContainer {
  height: 100vh;
  width: 100vw;

  display: flex;
}

.navbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  display: flex;
  justify-content: space-evenly;

  background-color: #162521;

  z-index: 1;
}

.navbar a {
  text-decoration: none;
  color: #4f7cac;
}

.navbar h2 {
  font-weight: 400;
}

.selected {
  color: #c0e0de;
}

/* footer */
.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  justify-content: space-between;

  min-height: 10vh;
  background-color: #162521;
}

.footerContact {
  text-align: right;
  margin: 2vh 0 2vh 0;
}

.footerContact p {
  padding: 0 2vw 0 2vw;
  margin: 0;
  color: #4f7cac;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
}

i {
  color: #4f7cac;
  padding: 0 2vw 0 2vw;
}

/* about */

.aboutSection {
  margin-right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.heyContainer {
  margin-right: 3rem;
  width: 50%;
  display: flex;
  justify-content: center;
}

.heyThere {
  color: #c0e0de;
  background-color: #162521;
  padding: 1rem 2rem 2rem 2rem;
  width: 70%;
  border-radius: 7px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heyThere h1 {
  font-weight: 500;
}

.pictures {
  width: 550px;
  height: 420px;
  display: flex;
  justify-content: center;
}

.insidePics {
  width: 70%;
  position: relative;

  display: flex;
  justify-content: right;
}

.aboutOne {
  border: 4px solid #9eefe5;
  border-radius: 50%;
  position: absolute;
  background-color: black;
  width: 275px;
}

.aboutTwo {
  border: 4px solid #9eefe5;
  border-radius: 50%;
  max-width: 9rem;
  position: absolute;
  top: 49%;
  left: 13%;
}

.aboutThree {
  border: 4px solid #9eefe5;
  border-radius: 50%;
  max-width: 6rem;
  position: absolute;

  bottom: 0;
  left: 47%;
}

/* projects */

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  color: #c0e0de;
}

.projects p {
  font-weight: 400;
  font-size: 22px;
  align-self: center;
  margin-top: 2rem;
}

.projectsContainer {
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  min-width: 100%;

  margin: 8vh 0 10vh 0;
}

.projectsContainer p {
  width: 60vw;
  text-align: center;
  line-height: 2rem;
}

.projectLite {
  border: 4px solid #9eefe5;
  border-radius: 10px;
  background-color: #162521;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  align-self: center;

  width: 600px;

  margin: 2rem 0 2rem 0;
  padding-bottom: 2rem;
}

.projectLite img {
  max-height: 300px;
  border-radius: 3px;
}

.projectLite h1 {
  font-weight: 400;
}

/* project details */

.details {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000a5;
  z-index: 99;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.detailModal {
  margin: 0 auto;
  border-radius: 10px;
  background-color: #162521;

  height: 80vh;
  width: 80vw;
  z-index: 100;
  position: relative;

  display: flex;
  align-items: center;

  font-size: 18px;
}

.close {
  border: none;
  background-color: rgba(0, 0, 0, 0);

  position: absolute;
  top: 2rem;
  right: 0rem;

  cursor: pointer;
}

.close i {
  color: #9eefe5;
}

.left {
  margin: 5rem;

  display: flex;
  flex-direction: column;
}

.left h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.techstack {
  margin: 2rem 0 2rem 0;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.techstack img {
  height: 32px;
  color: #4f7cac;
}

.mongoose {
  min-height: 40px;
}

.projectLinks {
  display: flex;
  justify-content: space-around;
  margin: 2rem 0 2rem 0;
}

.projectLinks a {
  text-decoration: none;
  background-color: #9eefe5;
  color: #162521;
  padding: 1rem;
  width: 70px;
  text-align: center;
  border-radius: 15px;
}

.detailimg {
  max-width: 500px;
  max-height: 400px;
  margin: 2rem;
  border-radius: 3px;
}


/* contact */

.contactContainer {
  margin: auto;
  border-radius: 7px;


  justify-content: center;
  display: flex;
  flex-direction: column;

  color: #c0e0de;
  background-color: #162521;
  border: 2px solid #9eefe5;

  padding: 3rem;
}

.tempLink {
  color: #4f7cac;
}

.nameEmail {
  display: flex;
  justify-content: space-between;

  margin: 1rem 0 3px 0;
}

.name,
.email {
  display: flex;
  flex-direction: column;

  min-width: 230px;
}

.labelText {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 8px;
}

.contactForm {
  display: flex;
  flex-direction: column;
}

.subject {
  width: 99%;
  height: 19px;
  margin: 8px 0 8px 0;
}

input {
  font-size: 16px;
}

textarea {
  width: 99%;
  margin-top: 8px;
  resize: none;
  font-family: 'Comfortaa', sans-serif;
  font-size: 16px;
}

.sendMessageContainer {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.sendMessage {
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: .6px;
  font-size: 18px;

  padding: 4px 30px 4px 30px;
  border-radius: 6px;
  margin-top: .5rem;
  border: none;

  background-color: #9eefe5;
  color: #162521;
}

/* smaller screens */

@media screen and (max-width: 1300px) {
  .detailModal {
    flex-direction: column;
    overflow-y: auto;
    height: 70vh;
  }

  .projectLinks {
    min-width: 70%;
    align-self: center;
    margin-top: 1rem;
    margin-bottom: 0;
  }

  .detailimg {
    margin-top: 0;
  }
}

/* mobile and tablet*/

@media screen and (max-width: 650px) {

  /* change the nav bar and footer */

  /* About */

  .aboutSection {
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .pictures {
    width: 100vw;
    height: auto;
    position: static;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 1rem;
  }

  .insidePics {
    width: 80%;
    justify-content: center;
  }

  .aboutOne {
    position: static;
    max-width: 200px;
    max-height: 200px;
  }

  .aboutTwo {
    display: none;
  }

  .aboutThree {
    display: none;
  }

  .heyContainer {
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 5rem;
    width: 100vw;
  }

  /*Projects */

  .projectLite {
    width: 80vw;
  }

  .projectLite img {
    max-width: 70vw;
  }

  .projectLite h1 {
    text-align: center;
  }

  .projectLinks {
    width: 65vw;
  }

  .detailModal {
    overflow-y: auto;
    overflow-x: hidden;
    height: auto;
    width: auto;
    margin: 2rem;
  }

  .detailimg {
   display: none
  }

}